<h1>Add a New Book</h1>
<%= form_tag books_path, method: 'POST' do %>
  <p>
    <%= label_tag :book_title %>
    <%= text_field(:book, :title) %>
  </p>
  <p>
    <%= label_tag :book_description %>
   <%= text_area(:book, :description) %>
  </p>
  <%= submit_tag %>
<% end %>

<!-- with form tag -->